@model Aplicacao02.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <div class="panel panel-default">


        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Fornecedor.NomeFornecedor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fornecedor.NomeFornecedor)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NomeProduto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeProduto)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Preco)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
            </dl>
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDProduto }, htmlAttributes: new { @class = "btn btn-default" }) |
    @Html.ActionLink("Retornar pra Lista", "Index", "", htmlAttributes: new { @class = "btn btn-default" })
</p>
