@model IEnumerable<Aplicacao02.Models.Fornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

<p>
    @Html.ActionLink("Adicionar Fornecedor", "Create", "Fornecedors", htmlAttributes: new {@class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFornecedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFornecedor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDFornecedor }, htmlAttributes: new {@class="btn btn-default"}) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDFornecedor }, htmlAttributes: new { @class = "btn btn-default" }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IDFornecedor }, htmlAttributes: new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
